<h1 id="burger">Burgers!</h1>

<h2 class="notDev">Burgers that are not devoured!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burger/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2 class="devoured">Burger that are devoured!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burger/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2 class="newBurg">Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
    <button type="submit">Add Burger</button>
  </div>

  <div class="devGroup">
    <label for="sleepy">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

</form>
